<h3>Predicting high BP</h3>

In [2]:
import pandas as pd
import csv as csv
import numpy as np

df = pd.read_csv('data.csv', skipinitialspace=True, header=None, sep=' ')

In [3]:
df.head()

   0  1   2         3   4  5  6      7     8    9   10 11 12 13   14  15  16
0   3  1  44   1735.14  21  1  1  179.5  70.4  120  67  2  .  1  268   0 NaN
1   4  1  43   1725.01  32  0  1  135.6  63.9  126  86  2  .  1  160   0 NaN
2   9  2  43  19451.83  48  0  1  149.7  61.8  131  73  1  2  2  236   0 NaN
3  10  1   6  27769.56  35  1  1  203.5  69.8  130  82  2  .  1  225   0 NaN
4  11  2  40   1245.52  48  1  1  155.3  66.2  120  70  1  2  2  260   0 NaN

In [4]:
del(df[16])

In [5]:
df.head()

   0  1   2         3   4  5  6      7     8    9   10 11 12 13   14  15
0   3  1  44   1735.14  21  1  1  179.5  70.4  120  67  2  .  1  268   0
1   4  1  43   1725.01  32  0  1  135.6  63.9  126  86  2  .  1  160   0
2   9  2  43  19451.83  48  0  1  149.7  61.8  131  73  1  2  2  236   0
3  10  1   6  27769.56  35  1  1  203.5  69.8  130  82  2  .  1  225   0
4  11  2  40   1245.52  48  1  1  155.3  66.2  120  70  1  2  2  260   0

In [6]:
column_names = ['id', 'pseudo_psu', 'pseudo_stratum', 'stat_weight', 'age', 'sex', 'race', 'body_weight', 'height', 
                'avg_systolic_bp', 'avg_diastolic_bp', 'smoked_alot', 'currently_smokes', 'smoking', 
                'serum_cholesterol', 'hbp']
df.columns = column_names

In [7]:
df

,id,pseudo_psu,pseudo_stratum,stat_weight,age,sex,race,body_weight,height,avg_systolic_bp,avg_diastolic_bp,smoked_alot,currently_smokes,smoking,serum_cholesterol,hbp
0,3,1,44,1735.14,21,1,1,179.5,70.4,120,67,2,.,1,268,0
1,4,1,43,1725.01,32,0,1,135.6,63.9,126,86,2,.,1,160,0
2,9,2,43,19451.83,48,0,1,149.7,61.8,131,73,1,2,2,236,0
3,10,1,6,27769.56,35,1,1,203.5,69.8,130,82,2,.,1,225,0
4,11,2,40,1245.52,48,1,1,155.3,66.2,120,70,1,2,2,260,0
5,19,1,35,3860.97,44,1,2,189.6,70.2,133,85,1,1,3,187,0
6,34,1,13,5031.7,42,0,2,125.8,62.6,100,67,1,1,3,216,0
7,44,1,8,28148.69,24,0,1,122.8,64.4,.,.,1,1,3,137,0
8,45,1,22,4582.03,67,0,2,149.6,64.3,.,.,2,.,1,.,0
9,48,1,24,26919.29,56,0,1,239.9,67.6,128,73,1,2,2,156,0
10,49,1,16,5043.86,82,0,1,96,59.5,177,65,2,.,1,179,1
11,51,1,28,2730.56,44,1,1,317.9,71.1,130,86,1,1,3,162,0
12,52,1,40,1398.57,50,1,1,175.1,70.2,117,74,2,.,1,244,0
13,53,1,6,24947,36,1,3,111.8,61,108,63,2,.,1,258,0
14,55,2,44,804.03,48,1,1,245.6,68,155,91,1,1,3,212,1
15,56,1,10,4424.15,32,1,2,185.2,73.4,119,58,1,1,3,.,0
16,63,2,48,4965.67,66,0,1,125.2,61.1,137,73,2,.,1,202,0
17,67,1,2,9535.11,70,1,1,140.8,63.8,.,.,1,1,3,182,0
18,70,1,9,2629.39,63,1,2,202.9,67.8,137,68,1,1,3,186,0
19,71,1,43,1147.32,37,0,1,151.7,61.7,128,70,1,1,3,212,0
20,72,1,21,2419.46,60,1,2,146.6,71.1,135,85,1,1,3,.,0
21,73,1,29,3991.81,42,1,3,205,68.4,148,83,1,1,3,267,1
22,74,2,49,23246,58,1,1,120.5,65.7,105,64,1,1,3,234,0
23,78,1,17,3191.82,80,0,1,143.3,61.4,145,58,2,.,1,184,1
24,82,1,25,1269.74,80,0,1,129.7,59.8,166,84,2,.,1,211,1
25,84,1,14,2069.97,23,0,2,159.4,61.8,109,63,2,.,1,157,0
26,86,1,5,9362.82,83,0,1,138.1,60.3,161,64,2,.,1,237,1
27,90,1,26,3898.74,28,1,1,173.1,66.1,120,82,1,1,3,182,0
28,96,1,19,2354.09,90,1,1,158,67.9,158,74,1,2,2,214,1
29,97,1,39,583.88,86,0,1,153.9,64.1,143,85,2,.,1,194,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17001,53527,2,4,26828.16,52,1,1,150.3,69.4,118,84,2,.,1,196,0
17002,53529,2,33,1486.86,34,0,1,138.7,62.8,102,67,2,.,1,239,0
17003,53531,2,41,1243.5,43,0,1,127.5,63,108,64,2,.,1,210,0
17004,53538,2,16,3899.29,75,0,2,191.5,65.5,166,96,1,2,2,229,1
17005,53539,2,12,47016.69,36,1,1,172.5,68.7,120,79,2,.,1,247,0
17006,53541,2,18,1736.4,41,0,2,198.2,64.6,119,70,2,.,1,.,0
17007,53553,2,3,3683.6,43,0,2,101.8,61.5,128,75,1,1,3,189,0
17008,53558,1,49,9519.51,55,0,1,141,64.2,106,68,2,.,1,223,0
17009,53559,2,27,12140.74,73,0,1,122.3,59.7,153,77,1,2,2,320,1
17010,53560,2,20,45889.65,38,0,1,156.9,69.6,96,66,1,2,2,188,0
17011,53562,2,30,21491.97,65,0,3,122.5,61.4,137,79,1,1,3,307,0
17012,53564,2,48,41032.75,37,1,1,174.8,72.2,113,74,1,1,3,229,0
17013,53565,2,32,4164.27,20,0,1,138.9,62,104,71,2,.,1,137,0
17014,53567,2,31,1953.48,36,1,1,164,62.5,166,119,2,.,1,238,1
17015,53568,2,15,3543.91,33,1,2,208,67.8,117,87,2,.,1,226,0
17016,53569,2,3,3654.45,42,0,2,163.6,69,146,80,2,.,1,169,1
17017,53571,2,21,15727.43,65,1,1,210.5,68.1,145,79,1,1,3,212,1
17018,53572,2,9,4366.5,39,0,2,173.7,64.4,113,70,2,.,1,214,0
17019,53575,2,29,1661.18,66,1,1,206.7,67.2,157,85,1,2,2,184,1
17020,53577,2,5,3328.09,55,0,2,150.3,61.3,145,79,1,1,3,.,1
17021,53581,2,48,3424.9,35,1,2,164.8,68.9,129,90,1,2,2,196,0
17022,53582,2,26,356.58,63,1,1,129,65.7,116,70,1,1,3,193,0
17023,53583,1,43,33563.18,51,0,1,118.5,61.4,113,70,1,1,3,.,0
17024,53585,2,2,6109.55,58,1,2,118.6,68,135,65,1,1,3,215,0
17025,53586,2,10,10877.99,45,0,1,284.5,61.4,130,83,2,.,1,203,0
17026,53589,2,8,4667.32,81,0,1,190.2,61.8,129,72,1,2,2,168,0
17027,53593,2,17,18911.4,23,1,1,172.7,76.2,123,83,2,.,1,188,0
17028,53594,2,11,9323.23,26,0,1,234.9,67.1,124,83,2,.,1,137,0
17029,53616,2,21,2341.16,85,1,1,189.1,68,157,94,2,.,1,285,1
17030,.,.,.,.,.,.,.,.,.,.,.,.,.,.,.,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17031 entries, 0 to 17030
Data columns (total 16 columns):
id                   17031 non-null object
pseudo_psu           17031 non-null object
pseudo_stratum       17031 non-null object
stat_weight          17031 non-null object
age                  17031 non-null object
sex                  17031 non-null object
race                 17031 non-null object
body_weight          17031 non-null object
height               17031 non-null object
avg_systolic_bp      17031 non-null object
avg_diastolic_bp     17031 non-null object
smoked_alot          17031 non-null object
currently_smokes     17031 non-null object
smoking              17031 non-null object
serum_cholesterol    17031 non-null object
hbp                  17031 non-null int64
dtypes: int64(1), object(15)
memory usage: 2.2+ MB

In [9]:
df.describe()

                hbp
count  17031.000000
mean       0.205390
std        0.403998
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [10]:
for column in df:
    print(column)
    print(np.unique(df[column].values))

id
['.' '10' '1000' ..., '9993' '9994' '9995']
pseudo_psu
['.' '1' '2']
pseudo_stratum
['.' '1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '21'
 '22' '23' '24' '25' '26' '27' '28' '29' '3' '30' '31' '32' '33' '34' '35'
 '36' '37' '38' '39' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49'
 '5' '6' '7' '8' '9']
stat_weight
['.' '10009.39' '1002.28' ..., '9966.93' '9986.82' '9998.38']
age
['.' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30' '31' '32' '33'
 '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44' '45' '46' '47' '48'
 '49' '50' '51' '52' '53' '54' '55' '56' '57' '58' '59' '60' '61' '62' '63'
 '64' '65' '66' '67' '68' '69' '70' '71' '72' '73' '74' '75' '76' '77' '78'
 '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89' '90']
sex
['.' '0' '1']
race
['.' '1' '2' '3']
body_weight
['.' '100' '100.1' ..., '99.7' '99.8' '99.9']
height
['.' '46.7' '50' '51.4' '51.9' '52.1' '52.4' '53.5' '53.6' '53.7' '53.8'
 '53.9' '54.1' '54.2' '54.3' '54.4' '54.5' '54.6' '54.8' '54.9' '55' '55.1'
 '55.2' '55.3' '55.4' '55.5' '55.6' '55.7' '55.8' '55.9' '56' '56.1' '56.2'
 '56.3' '56.4' '56.5' '56.6' '56.7' '56.8' '56.9' '57' '57.1' '57.2' '57.3'
 '57.4' '57.5' '57.6' '57.7' '57.8' '57.9' '58' '58.1' '58.2' '58.3' '58.4'
 '58.5' '58.6' '58.7' '58.8' '58.9' '59' '59.1' '59.2' '59.3' '59.4' '59.5'
 '59.6' '59.7' '59.8' '59.9' '60' '60.1' '60.2' '60.3' '60.4' '60.5' '60.6'
 '60.7' '60.8' '60.9' '61' '61.1' '61.2' '61.3' '61.4' '61.5' '61.6' '61.7'
 '61.8' '61.9' '62' '62.1' '62.2' '62.3' '62.4' '62.5' '62.6' '62.7' '62.8'
 '62.9' '63' '63.1' '63.2' '63.3' '63.4' '63.5' '63.6' '63.7' '63.8' '63.9'
 '64' '64.1' '64.2' '64.3' '64.4' '64.5' '64.6' '64.7' '64.8' '64.9' '65'
 '65.1' '65.2' '65.3' '65.4' '65.5' '65.6' '65.7' '65.8' '65.9' '66' '66.1'
 '66.2' '66.3' '66.4' '66.5' '66.6' '66.7' '66.8' '66.9' '67' '67.1' '67.2'
 '67.3' '67.4' '67.5' '67.6' '67.7' '67.8' '67.9' '68' '68.1' '68.2' '68.3'
 '68.4' '68.5' '68.6' '68.7' '68.8' '68.9' '69' '69.1' '69.2' '69.3' '69.4'
 '69.5' '69.6' '69.7' '69.8' '69.9' '70' '70.1' '70.2' '70.3' '70.4' '70.5'
 '70.6' '70.7' '70.8' '70.9' '71' '71.1' '71.2' '71.3' '71.4' '71.5' '71.6'
 '71.7' '71.8' '71.9' '72' '72.1' '72.2' '72.3' '72.4' '72.5' '72.6' '72.7'
 '72.8' '72.9' '73' '73.1' '73.2' '73.3' '73.4' '73.5' '73.6' '73.7' '73.8'
 '73.9' '74' '74.1' '74.2' '74.3' '74.4' '74.5' '74.6' '74.7' '74.8' '74.9'
 '75' '75.1' '75.2' '75.3' '75.4' '75.5' '75.6' '75.7' '75.8' '75.9' '76'
 '76.1' '76.2' '76.3' '76.4' '76.5' '76.6' '76.7' '76.9' '77' '77.1' '77.6'
 '78.1' '78.5' '78.7' '79.4' '81.3']
avg_systolic_bp
['.' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '110'
 '111' '112' '113' '114' '115' '116' '117' '118' '119' '120' '121' '122'
 '123' '124' '125' '126' '127' '128' '129' '130' '131' '132' '133' '134'
 '135' '136' '137' '138' '139' '140' '141' '142' '143' '144' '145' '146'
 '147' '148' '149' '150' '151' '152' '153' '154' '155' '156' '157' '158'
 '159' '160' '161' '162' '163' '164' '165' '166' '167' '168' '169' '170'
 '171' '172' '173' '174' '175' '176' '177' '178' '179' '180' '181' '182'
 '183' '184' '185' '186' '187' '188' '189' '190' '191' '192' '193' '194'
 '195' '196' '197' '198' '199' '200' '201' '202' '203' '204' '205' '206'
 '207' '209' '210' '211' '215' '216' '218' '219' '220' '221' '223' '224'
 '225' '226' '230' '231' '237' '244' '69' '80' '81' '83' '84' '86' '87'
 '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99']
avg_diastolic_bp
['.' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '110'
 '111' '112' '113' '114' '115' '116' '119' '120' '121' '123' '124' '126'
 '129' '130' '133' '134' '142' '20' '22' '30' '32' '33' '37' '38' '39' '40'
 '41' '42' '43' '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55'
 '56' '57' '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70'
 '71' '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85'
 '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99']
smoked_alot
['.' '1' '2']
currently_smokes
['.' '1' '2']
smoking
['.' '1' '2' '3']
serum_cholesterol
['.' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '110'
 '111' '112' '113' '114' '115' '116' '117' '118' '119' '120' '121' '122'
 '123' '124' '125' '126' '127' '128' '129' '130' '131' '132' '133' '134'
 '135' '136' '137' '138' '139' '140' '141' '142' '143' '144' '145' '146'
 '147' '148' '149' '150' '151' '152' '153' '154' '155' '156' '157' '158'
 '159' '160' '161' '162' '163' '164' '165' '166' '167' '168' '169' '170'
 '171' '172' '173' '174' '175' '176' '177' '178' '179' '180' '181' '182'
 '183' '184' '185' '186' '187' '188' '189' '190' '191' '192' '193' '194'
 '195' '196' '197' '198' '199' '200' '201' '202' '203' '204' '205' '206'
 '207' '208' '209' '210' '211' '212' '213' '214' '215' '216' '217' '218'
 '219' '220' '221' '222' '223' '224' '225' '226' '227' '228' '229' '230'
 '231' '232' '233' '234' '235' '236' '237' '238' '239' '240' '241' '242'
 '243' '244' '245' '246' '247' '248' '249' '250' '251' '252' '253' '254'
 '255' '256' '257' '258' '259' '260' '261' '262' '263' '264' '265' '266'
 '267' '268' '269' '270' '271' '272' '273' '274' '275' '276' '277' '278'
 '279' '280' '281' '282' '283' '284' '285' '286' '287' '288' '289' '290'
 '291' '292' '293' '294' '295' '296' '297' '298' '299' '300' '301' '302'
 '303' '304' '305' '306' '307' '308' '309' '310' '311' '312' '313' '314'
 '315' '316' '317' '318' '319' '320' '321' '322' '323' '324' '325' '326'
 '327' '328' '329' '330' '331' '332' '333' '334' '335' '336' '337' '338'
 '339' '340' '341' '342' '343' '344' '345' '346' '347' '348' '349' '350'
 '351' '352' '354' '355' '356' '360' '361' '362' '364' '365' '366' '367'
 '368' '370' '371' '372' '375' '376' '377' '379' '381' '384' '385' '386'
 '387' '388' '392' '393' '394' '399' '400' '403' '408' '412' '415' '416'
 '420' '422' '424' '425' '427' '432' '437' '446' '451' '463' '464' '478'
 '491' '501' '518' '59' '676' '702' '74' '79' '81' '83' '89' '92' '93' '94'
 '95' '96' '98' '99']
hbp
[0 1]

In [11]:
df.drop(df.index[-1],inplace = True)

In [12]:
df = df.apply(pd.to_numeric, args=('coerce',))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17030 entries, 0 to 17029
Data columns (total 16 columns):
id                   17030 non-null int64
pseudo_psu           17030 non-null int64
pseudo_stratum       17030 non-null int64
stat_weight          17030 non-null float64
age                  17030 non-null int64
sex                  17030 non-null int64
race                 17025 non-null float64
body_weight          16976 non-null float64
height               16991 non-null float64
avg_systolic_bp      16538 non-null float64
avg_diastolic_bp     16536 non-null float64
smoked_alot          17030 non-null int64
currently_smokes     8626 non-null float64
smoking              17029 non-null float64
serum_cholesterol    16062 non-null float64
hbp                  17030 non-null int64
dtypes: float64(9), int64(7)
memory usage: 2.2 MB

In [14]:
df.describe()

,id,pseudo_psu,pseudo_stratum,stat_weight,age,sex,race,body_weight,height,avg_systolic_bp,avg_diastolic_bp,smoked_alot,currently_smokes,smoking,serum_cholesterol,hbp
count,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17025.000000,16976.000000,16991.000000,16538.000000,16536.000000,17030.000000,8626.000000,17029.000000,16062.000000,17030.000000
mean,27104.539988,1.508749,23.477334,10404.032365,48.791897,0.466999,1.350426,165.029777,65.437914,126.022433,74.366352,1.493423,1.493276,1.763227,206.049184,0.205402
std,17085.946915,0.499938,13.577050,13095.245056,19.720956,0.498924,0.540933,39.567483,3.913875,20.045496,10.737483,0.499971,0.499984,0.833134,44.837071,0.404007
min,3.000000,1.000000,1.000000,225.930000,20.000000,0.000000,1.000000,48.000000,46.700000,69.000000,20.000000,1.000000,1.000000,1.000000,59.000000,0.000000
25%,11193.250000,1.000000,12.000000,2404.300000,32.000000,0.000000,1.000000,137.400000,62.600000,112.000000,67.000000,1.000000,1.000000,1.000000,175.000000,0.000000
50%,32384.000000,2.000000,23.000000,4541.805000,45.000000,0.000000,1.000000,160.450000,65.300000,122.000000,74.000000,1.000000,1.000000,2.000000,202.000000,0.000000
75%,42906.750000,2.000000,33.000000,14782.000000,65.000000,1.000000,2.000000,186.500000,68.200000,137.000000,81.000000,2.000000,2.000000,3.000000,233.000000,0.000000
max,53616.000000,2.000000,49.000000,139744.900000,90.000000,1.000000,3.000000,532.000000,81.300000,244.000000,142.000000,2.000000,2.000000,3.000000,702.000000,1.000000

In [15]:
temp2 = ['race','body_weight','height','avg_systolic_bp','avg_diastolic_bp','currently_smokes','smoking','serum_cholesterol']
temp1 = ['body_weight','height','avg_systolic_bp','avg_diastolic_bp','serum_cholesterol','smoking']
for eachColumn in temp1:
    df[eachColumn] = df[eachColumn].fillna(df[eachColumn].mean())
    print eachColumn

body_weight
height
avg_systolic_bp
avg_diastolic_bp
serum_cholesterol
smoking

In [35]:
df.describe()

,id,pseudo_psu,pseudo_stratum,stat_weight,age,sex,race,body_weight,height,avg_systolic_bp,avg_diastolic_bp,smoked_alot,currently_smokes,smoking,serum_cholesterol,hbp
count,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17025.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,8626.000000,17030.000000,17030.000000,17030.000000
mean,27104.539988,1.508749,23.477334,10404.032365,48.791897,0.466999,1.350426,165.029777,65.437914,126.022433,74.366352,1.493423,1.493276,1.763227,206.049184,0.205402
std,17085.946915,0.499938,13.577050,13095.245056,19.720956,0.498924,0.540933,39.504698,3.909391,19.753797,10.580593,0.499971,0.499984,0.833109,43.544063,0.404007
min,3.000000,1.000000,1.000000,225.930000,20.000000,0.000000,1.000000,48.000000,46.700000,69.000000,20.000000,1.000000,1.000000,1.000000,59.000000,0.000000
25%,11193.250000,1.000000,12.000000,2404.300000,32.000000,0.000000,1.000000,137.425000,62.600000,112.000000,68.000000,1.000000,1.000000,1.000000,177.000000,0.000000
50%,32384.000000,2.000000,23.000000,4541.805000,45.000000,0.000000,1.000000,160.600000,65.400000,123.000000,74.000000,1.000000,1.000000,2.000000,205.000000,0.000000
75%,42906.750000,2.000000,33.000000,14782.000000,65.000000,1.000000,2.000000,186.300000,68.200000,136.000000,81.000000,2.000000,2.000000,3.000000,231.000000,0.000000
max,53616.000000,2.000000,49.000000,139744.900000,90.000000,1.000000,3.000000,532.000000,81.300000,244.000000,142.000000,2.000000,2.000000,3.000000,702.000000,1.000000

In [17]:
temp3 =['race','currently_smokes']

In [29]:

df.loc[(df['currently_smokes'].isnull())&(df['smoking'] == 2), 'currently_smokes'] = 2
df.loc[(df['currently_smokes'].isnull())&(df['smoking'] == 3), 'currently_smokes'] = 1

In [34]:
df['smoking'].isnull

<bound method Series.isnull of 0        1
1        1
2        2
3        1
4        2
5        3
6        3
7        3
8        1
9        2
10       1
11       3
12       1
13       1
14       3
15       3
16       1
17       3
18       3
19       3
20       3
21       3
22       3
23       1
24       1
25       1
26       1
27       3
28       2
29       1
        ..
17000    1
17001    1
17002    1
17003    1
17004    2
17005    1
17006    1
17007    3
17008    1
17009    2
17010    2
17011    3
17012    3
17013    1
17014    1
17015    1
17016    1
17017    3
17018    1
17019    2
17020    3
17021    2
17022    3
17023    3
17024    3
17025    1
17026    2
17027    1
17028    1
17029    1
Name: smoking, dtype: float64>